/* to let table scrollable while dragging */
html, body {
  height: 100%;
  overflow: hidden;
  margin: 0px;
}

#wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

#mainwrapper,
#queuewrapper {
  float: left;
}

#maintblContainer,
#queuetblContainer {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  border: solid 2px silver;
}

#titlebar {
  height: 40px;
  background-color: #7799AA;
}

#titlename {
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 100px;
  line-height: 35px;
  margin-left: 25px;
}

#queuetbl {
  margin-bottom: 100px;
}

table {
  border-right: solid 1px gray;
  border-collapse: collapse;
}

th {
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  background-color: #7799AA;
  color: white;
  border-top: solid 1px silver;
  border-left: solid 1px silver;
  border-bottom: solid 1px silver;
}

td {
  empty-cells: show;
  height: 30px;
  font-size: 14px;
  padding-left: 3px;
  border-left: solid 1px lightgray;
  border-bottom: solid 1px silver;
  background-repeat: no-repeat;
  background-position: right bottom;
}

/* used in Equipment column */
td img {
  height: 23px;
  width: 25px;
}
td img.imgpale {
  filter: opacity(30%);
}

#maintbl th:nth-child(1) { width: 3%; }
#maintbl th:nth-child(2) { width: 0px; font-size: 0px; }
#maintbl th:nth-child(3) { width: 1%; }
#maintbl th:nth-child(4) { width: 1%; }
#maintbl th:nth-child(5) { width: 1%; }
#maintbl th:nth-child(6) { width: 1%; }
#maintbl th:nth-child(7) { width: 3%; }
#maintbl th:nth-child(8) { width: 7%; }
#maintbl th:nth-child(9) { width: 20%; }
#maintbl th:nth-child(10) { width: 25%; }
#maintbl th:nth-child(12) { width: 15%; }
#maintbl th:nth-child(13) { width: 20%; }

#maintbl td:nth-child(1) { font-size: 12px; }
#maintbl td:nth-child(2) { font-size: 0px; }
#maintbl th:nth-child(3) { font-size: xx-small; padding: 0px; }
#maintbl td:nth-child(3) { font-size: 14px; padding: 0px; }
#maintbl td:nth-child(3) { text-align: center; }
#maintbl th:nth-child(4) { font-size: xx-small; padding: 0px; }
#maintbl td:nth-child(4) { font-size: xx-small; padding: 0px; }
#maintbl td:nth-child(4) { text-align: center; }
#maintbl th:nth-child(5) { font-size: xx-small; padding: 0px; }
#maintbl td:nth-child(5) { font-size: 14px; padding: 0px; }
#maintbl td:nth-child(5) { text-align: center; }
#maintbl td:nth-child(6) { font-size: 12px; }
#maintbl td:nth-child(7) { font-size: 12px; }
#maintbl td:nth-child(8) { font-size: 12px; }

#maintbl th:nth-child(11), #maintbl td:nth-child(11) { display: none; }

#maintbl.showColumn2 th:nth-child(2) { width: 30px; font-size: xx-small; }
#maintbl.showColumn2 td:nth-child(2) { font-size: xx-small; text-align: center; }

#queuetbl tr.nodate td:first-child::before {
  font-size: 14px;
  content: attr(data-number);
}

#queuetbl th:nth-child(1) { width: 2%; }
#queuetbl th:nth-child(2), #queuetbl td:nth-child(2) { display: none; }
#queuetbl th:nth-child(3), #queuetbl td:nth-child(3) { display: none; }
#queuetbl th:nth-child(4), #queuetbl td:nth-child(4) { display: none; }
#queuetbl th:nth-child(5), #queuetbl td:nth-child(5) { display: none; }
#queuetbl th:nth-child(6) { width: 2%; }
#queuetbl th:nth-child(7) { width: 2%; }
#queuetbl th:nth-child(8) { width: 4%; }
#queuetbl th:nth-child(9) { width: 30%; }
#queuetbl th:nth-child(10) { width: 30%; }
#queuetbl th:nth-child(11), #queuetbl td:nth-child(11) { display: none; }
#queuetbl th:nth-child(12), #queuetbl td:nth-child(12) { display: none; }
#queuetbl th:nth-child(13) { width: 30%; }

#queuetbl td:nth-child(1) { font-size: 12px; }
#queuetbl td:nth-child(6) { font-size: 12px; }
#queuetbl td:nth-child(7) { font-size: 12px; }
#queuetbl td:nth-child(8) { font-size: 12px; }

#servicetbl th:nth-child(1) { width: 1%; }
#servicetbl th:nth-child(2) { width: 2%; }
#servicetbl th:nth-child(3) { width: 10%; }
#servicetbl th:nth-child(4) { width: 20%; }
#servicetbl th:nth-child(5) { width: 25%; }
#servicetbl th:nth-child(6) { width: 25%; }
#servicetbl th:nth-child(7) { width: 15%; }
#servicetbl th:nth-child(8) { width: 1%; }
#servicetbl th:nth-child(9) { width: 1%; }
#servicetbl td.serviceStaff {
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  padding-left: 10px;
  background-color: #DDFFFF;
}
#servicetbl td:nth-child(1) { text-align: center; }
#servicetbl td:nth-child(2) { font-size: 12px; }
#servicetbl td:nth-child(8) { font-size: 12px; }
#servicetbl td:nth-child(9) { font-size: 12px; }


#historytbl th:nth-child(1) { width: 5%; }
#historytbl th:nth-child(2) { width: 10px; }
#historytbl th:nth-child(3) { width: 20px; }
#historytbl th:nth-child(4) { width: 5%; }
#historytbl th:nth-child(5) { width: 10%; }
#historytbl th:nth-child(6) { width: 10%; }
#historytbl th:nth-child(7) { width: 15%; }
#historytbl th:nth-child(8) { width: 15%; }
#historytbl th:nth-child(9) { width: 10%; }
#historytbl th:nth-child(10) { width: 10%; }
#historytbl th:nth-child(11) { width: 30px; }
#historytbl th:nth-child(12) { width: 50px; }

#historytbl td:nth-child(1) { font-size: 12px; }
#historytbl td:nth-child(2) { font-size: 12px; text-align: center; }
#historytbl td:nth-child(3) { font-size: 12px; text-align: center; }
#historytbl td:nth-child(4) { font-size: 12px; }
#historytbl td:nth-child(11) { font-size: 12px; }
#historytbl td:nth-child(12) { font-size: 12px; }

#deletedtbl th:nth-child(1) { width: 5%; }
#deletedtbl th:nth-child(2) { width: 5%; }
#deletedtbl th:nth-child(3) { width: 50px; }
#deletedtbl th:nth-child(4) { width: 10%; }
#deletedtbl th:nth-child(5) { width: 20%; }
#deletedtbl th:nth-child(6) { width: 20%; }
#deletedtbl th:nth-child(7) { width: 20%; }
#deletedtbl th:nth-child(8) { width: 40px; }
#deletedtbl th:nth-child(9) { width: 70px; }

#deletedtbl td:nth-child(1) { font-size: 12px; }
#deletedtbl td:nth-child(2) { font-size: 12px; }
#deletedtbl td:nth-child(3) { font-size: 12px; }
#deletedtbl td:nth-child(8) { font-size: 12px; }
#deletedtbl td:nth-child(9) { font-size: 12px; }

#alltbl th:nth-child(1) { width: 30px; }
#alltbl th:nth-child(2) { width: 50px; }
#alltbl th:nth-child(3) { width: 50px; }
#alltbl th:nth-child(4) { width: 10%; }
#alltbl th:nth-child(5) { width: 12%; }
#alltbl th:nth-child(6) { width: 12%; }
#alltbl th:nth-child(7) { width: 12%; }
#alltbl th:nth-child(8) { width: 12%; }
#alltbl th:nth-child(9) { width: 12%; }
#alltbl th:nth-child(10) { width: 12%; }

#alltbl td { font-size: 12px; }

#findtbl th:nth-child(1) { width: 30px; }
#findtbl th:nth-child(2) { width: 50px; }
#findtbl th:nth-child(3) { width: 50px; }
#findtbl th:nth-child(4) { width: 10%; }
#findtbl th:nth-child(5) { width: 12%; }
#findtbl th:nth-child(6) { width: 12%; }
#findtbl th:nth-child(7) { width: 12%; }
#findtbl th:nth-child(8) { width: 12%; }
#findtbl th:nth-child(9) { width: 12%; }
#findtbl th:nth-child(10) { width: 12%; }

#findtbl td { font-size: 12px; }

#stafftbl td:nth-child(1) { width: 80px; }
#stafftbl td:nth-child(2) { width: 60px; }
#stafftbl td:nth-child(3) { width: 50px; }
#stafftbl td:nth-child(4) { width: 90px; }
#stafftbl td:nth-child(5) { width: 90px; }
#stafftbl td:nth-child(6) { width: 90px; }

#stafftbl td { text-align: center; }
#stafftbl td:nth-child(1) { text-align: left; }

#stafftbl input { border: 0; }

#actionIcons button {
  margin: 5px 10px;
}
#actionIcons button:hover {
  border-radius: 5px;
}
#actionIcons button span img {
  vertical-align: bottom;
  width: 20px;
}

#residenttbl { text-align: center; }
#residenttbl th { padding: 0px 7px 0px 7px; }
#residenttbl td:nth-child(2) { text-align: left; }

#wrapper,
#queuewrapper,
#tblcells,
#dialogService, #servicecells,
#monthpicker button.ui-datepicker-current,
#monthpicker .ui-datepicker-calendar,
#monthstart,
#dialogReview,
#dialogLab,
#dialogEquip,
#dialogAll, #allcells,
#dialogAllDeleted, #deletedcells,
#dialogHistory, #historycells,
#dialogFind, #findcells,
#dialogMoveCaseHN,
#dialogInput,
#dialogReadme,
#editcell,
#undelete,
#dialogResident, #residentcells,
#dialogSlider,
#dialogStaff, #staffcells,
#scbb option:first-of-type,
#dialogPatient, #patientcells,
#dialogHoliday, #holidaycells
{
  display: none;
}

:root {
  --consultant: "";
}

td.consult[data-origconsult] { 
  --consultant: '\Aเดิม ' attr(data-origconsult);
}

td.consult::after { 
  color: #999999;
  font-size: 12px;
  content: 'สัปดาห์ Consult\A'attr(data-consult)var(--consultant);
  white-space: pre;
}

td.holiday::after { 
  color: Silver;
  font-size: 24px;
  font-weight: bold;
  content: attr(data-holiday);
}

#editcell { 
  text-align: left; 
  overflow: hidden;
  padding-left: 3px;
  border: solid 1px #0099FF;
  background-color: white;
  box-shadow: 5px 5px 10px slategray;
}

#spin {
  height: 20px;
  width: 35px;
  font-size: 14px;
  margin: 0px;
}

#stafflist,
#staffConsult {
  font-size: 14px;
  width: 110px;
}

#staffmenu {
  width: 100px;
  box-shadow: 10px 20px 30px slategray;
}

#postponecase {
  width: 200px;
  white-space: nowrap;
}

#deleteCase {
  width: 170px;
  white-space: nowrap;
}

tr#movefrom td,
tr#moveto td {
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  vertical-align: bottom;
  padding-bottom: 15px;  
  border-left: 0px;
}

/* mark the row of fillEquipTable, tracking, find, and pasted row after moveCase */
tr.marker {
  border: solid 2px skyblue;
}

tr.moveCase {
  border: dashed 2px red;
}

tr.copyCase {
  border: dashed 2px blue;
}

/* mark where move/copy case will be pasted */
tr.pasteDateTop {
  box-shadow:inset 0px 20px 5px 0px lightgrey;
}
tr.pasteDateBottom {
  box-shadow:inset 0px -20px 5px 0px lightgrey;
}

tr.selected {
  border: solid 2px #0099FF;
}

tr.selected td {
  background-color: #d9f0FF;
}

tr.Sunday { background-color: #FFDDEE; }
tr.Monday { background-color: #FFFFE0; }
tr.Tuesday { background-color: #FFF0F9; }
tr.Wednesday { background-color: #EEFFEE; }
tr.Thursday { background-color: #FFF7EE; }
tr.Friday { background-color: #E7F7FF; }
tr.Saturday { background-color: #E7E7FF; }

tr.Sunday td:first-child { background-color: #F099BB; }
tr.Monday td:first-child { background-color: #F0F0BB; }
tr.Tuesday td:first-child { background-color: #F0CCEE; }
tr.Wednesday td:first-child { background-color: #CCF0CC; }
tr.Thursday td:first-child { background-color: #F0DDBB; }
tr.Friday td:first-child { background-color: #BBDDF0; }
tr.Saturday td:first-child { background-color: #CCBBF0; }

tr.Sunday td:first-child::before { content: "อาทิตย์ "; }
tr.Monday td:first-child::before { content: "จันทร์ "; }
tr.Tuesday td:first-child::before { content: "อังคาร "; }
tr.Wednesday td:first-child::before { content: "พุธ "; }
tr.Thursday td:first-child::before { content: "พฤหัส "; }
tr.Friday td:first-child::before { content: "ศุกร์ "; }
tr.Saturday td:first-child::before { content: "เสาร์ "; }
