

.Reoperation, .Reoperation td:nth-child(5) { background-color: #CCCCAA !important; }
.Readmission, .Readmission td:nth-child(6) { background-color: #AACCCC !important; } 
.Infection, .Infection td:nth-child(7) { background-color: #CCAAAA !important; }
.Morbidity { background-color: #AAAACC !important; }
.Dead { background-color: #AAAAAA !important; }

.ui-sortable-helper {
  display: table;
}

.ui-dialog {
  position: fixed;
  box-shadow: 10px 20px 30px slategray;
}

.ui-dialog-title {
  font-size: 120%;
  text-align: center; 
}

.ui-icon-closethick {
  float: right;
  top: 15px;
  right:10px;
}

.iconcontainer {
  float: right;
  height: 30px;
}

.ui-resizable-e { 
  cursor: e-resize; 
  width: 10px; 
  top: 0; 
}

.ui-icon:hover {
  cursor: pointer;
  border: black dotted
}

.ui-icon-circle-close {
  float: right;
  background-color: white;
  height: 15px;
  width: 15px;
}

.ui-dialog-buttonpane {
  font-size: 0px;
}

.ui-dialog-buttonset {
  font-size: 14px;
  margin: 0 30px 0 0;
}

.dialogBox span {
  display:inline-block;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.fixed{
  position: fixed;
  width: auto;
  display: none;
  border: none;
}

.floatleft { float: left;}
.floatright { float: right; }
.textleft { text-align: left;}
.textright { text-align: right; }
.textcenter { text-align: center; }
.inline { display: inline-block; }

.w10 { width:10px !important; }
.w20 { width:20px !important; }
.w30 { width:30px !important; }
.w40 { width:40px !important; }
.w50 { width:50px !important; }
.w55 { width:55px !important; }
.w60 { width:60px !important; }
.w65 { width:65px !important; }
.w70 { width:70px !important; }
.w75 { width:75px !important; }
.w80 { width:80px !important; }
.w85 { width:85px !important; }
.w90 { width:90px !important; }
.w100 { width:100px !important; }
.w110 { width:110px !important; }
.w120 { width:120px !important; }
.w130 { width:130px !important; }
.w150 { width:150px !important; }
.w170 { width:170px !important; }
.w200 { width:200px !important; }
.w250 { width:250px !important; }
.w400 { width:400px !important; }
.w500 { width:500px !important; }

.monthbut { color:white !important; background-color: #00AAFF !important; }
.yearbut { color:white !important; background-color: #0077BB !important; }

.deletedcase,
.movebutton { background-color: pink }
.copybutton { background-color: skyblue }
.nodate { background-color: #EEEEFF }

#servicehead {
  width: auto;
  text-align: center;
}

#servicehead span.item {
  display: inline-block; 
  border: solid 1px white;
  width: 170px;
  padding: 2px 10px;
}

#monthpicker { margin-left:5px }

#historytbl tr:nth-child(odd) {
  background-color: #EEEEFF;
}

#deletedtbl tr:nth-child(odd) {
  background-color: #FFF3F9;
}
#deletedtbl tr:nth-child(even) {
  background-color: snow;
}

#dialogInput { font-size: 14px; overflow: hidden; }
#dialogInput span { width:50px }
#dialogInput input[name=others] { width:450px }
#dialogInput img {
  float: right;
  width: 150px;
  border: 1px solid skyblue;
  margin-right: 20px;
}
#dialogInput img:hover {
  border: 2px outset blue;
}

#deleted,
#notdeleted {
  height:30px;
  width:140px;
}

#undelete { 
  width: 127px;
}

#undel { 
  display: inline-block;
  text-align: center; 
  height: 25px;
  width: 100px;
  font-size: 14px;
  color: black;
  background-color: white;
  border: 2px solid slategray;
  line-height: 25px;
}

#reviewtbl tbody tr:nth-child(6) td:first-child { font-weight: normal }
#reviewtbl tbody tr:nth-child(7) th { text-align: left; padding-left: 20px }

#reviewtbl {
  font-weight: bold;
}

#reviewtbl th.first {
  width: 150px;
}

#reviewtbl td {
  width: 40px;
  text-align: center;
}

#reviewtbl td:first-child {
  text-align: left;
}

#reviewtbl th.elect {
  background-color: #33AA77;
}

#reviewtbl th.emer {
  background-color: #FF6688;
}

#reviewtbl tr.nonsurgical td {
  background-color: LightGray;
  border-left: solid 1px silver;
}

#Total {
  background-color: BurlyWood;
}

#Grand {
  background-color: Turquoise;
}

#oproomequip,
#casenumequip,
#optimeequip,
#opdayequip,
#opdateequip,
#staffnameequip,
#hnequip,
#patientnameequip,
#ageequip { font-size: 16px; font-weight: bold; }

#dialogEquip {
  font-size: 14px;
}

#dialogEquip input[type=radio] + span,
#dialogEquip input[type=checkbox] + span {
  color: #999999;
}
#dialogEquip input[type=radio]:checked + span,
#dialogEquip input[type=checkbox]:checked + span {
  color: black;
  font-weight: bold;
}
#dialogEquip input[type=text] {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px dashed gray;
  color: blue;
  font-weight: bold;
}
#dialogEquip textarea {
  height: 55px;
  padding: 2px;
  color: blue;
  font-weight: bold;
}
#editedby {
  position: absolute;
}

#dialogRecord label {
  display: inline-block;
}

#dialogRecord label.border {
  position: relative;
  height: 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #19adc4;
  padding-left: 4px;
  margin-left: 4px;
}

#dialogRecord label span {
  display: inline-block;
  position: relative;
  font-size: 14px;
  top: -5px;
  width: 0px;
}

#dialogRecord label.border span {
  top: 1px;
  left: 3px;
}

#dialogRecord label input[type="checkbox"] + span {
  top: -8px;
}

/* -webkit: to disable the default appearance of radio button*/
#dialogRecord input {
  height: 20px;
  border-radius: 5px;
  border: 1px solid #19adc4;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/*no need, if you don't disable default appearance*/
/*to remove the square border on focus*/
#dialogRecord input:focus {
  outline-color: transparent;
}

/*no need, if you don't disable default appearance*/
#dialogRecord input:checked {
  background-color: #19adc4;
}

#dialogRecord input:checked ~ span {
  color: white;
}

#dialogRecord input[type="number"] {
  height: 15px;
  font-size: 14px;
  position: relative;
  top: -5px;
  left: 70px;
  border: none;
}

#dialogRecord input[type="text"] {
  border: none;
}

#dialogRecord hr.solid {
  border: 0;
  border-top: 1px solid #19adc4;
  margin: 10px 10px 10px 0px;
}

#dialogRecord hr.dashed {
  border: 0;
  border-top: 1px dashed #19adc4;
  margin: 10px 50px 10px 10px;
}

#dialogRecord button {
  border-radius: 25%;
}

#dialogHoliday table td {
  padding: 0 10px;
}

#dialogNotify textarea {
  height: 190px;
  padding: 7px;
  font-size: 14px;
}
#buttonLINE {
  float: right;
  width: 35px;
  height: 35px;
  background-image: url(pic/general/message.png);
  background-size: 35px;
  border: 1px solid lightblue;
}
#buttonLINE:hover {
  border: 2px solid Dodgerblue;
}

.loader {
  display: none;
  position: absolute;
  top:5%;
  left: 50%;
  border: 5px solid #a3e3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
