#cssmenu {
  font-size: 14px;
  text-align: left;
  line-height: 15px;
}
#cssmenu > ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #ffffff;
  border: 1px solid #ece6e8;
  border-bottom: 3px solid #d9ced2;
  border-radius: 2px;
}
#cssmenu > ul li {
  display: inline-block;
  position: relative;
}
#cssmenu > ul li:hover ul {
  display: block;
}
#cssmenu > ul li.hassub a {
  background-image: url('images/caret.png');
  background-repeat: no-repeat;
  background-position: 100% -100%;
}
#cssmenu > ul li ul {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #ffffff;
  border: 1px solid #ece6e8;
  border-bottom: 3px solid #d9ced2;
  border-top: 0 none;
  line-height: 3px;
  z-index: 1;
}
#cssmenu ul li#postpone ul,
#cssmenu ul li#delete ul {
  line-height: normal;
}
#cssmenu > ul li a {
  display: block;
  padding: 12px 10px 12px 10px;
  text-decoration: none;
  color: gray;
  text-shadow: 0px 1px 0px #fff;
}
#cssmenu > ul li#submenu ul li a {
  width: 140px;
  height: auto;
  text-align: left;
  padding-top: 12px;
}
#cssmenu > ul li img {
  width: 25px;
  height: 25px;
}
#cssmenu > ul li.disabled img {
  filter: opacity(30%);
}

#cssmenu > ul li a:hover {
  background: #d80041;
  color: #fff;
  text-shadow: 0px 1px 0px #000;
}
#cssmenu > ul li.disabled a,
#cssmenu > ul li#submenu ul li.disabled a,
#cssmenu > ul li.disabled,
#cssmenu > ul li#submenu ul li.disabled {
  pointer-events: none;
  cursor: default;
  color: #CCCCCC;
}
#cssmenu ul li.disabled ul li {
  display: none;
}
#cssmenu ul li ul li a {
  padding: 12px 7px 12px 7px;
}

@media (max-width: 800px) {
  #cssmenu > ul li#postpone,
  #cssmenu > ul li#copyCase,
  #cssmenu > ul li#delete,
  #cssmenu > ul li#submenu {
    display: none
  }
}

@media (max-width: 600px) {
  #cssmenu > ul li#history,
  #cssmenu > ul li#addrow,
  #cssmenu > ul li#postpone,
  #cssmenu > ul li#moveCase,
  #cssmenu > ul li#copyCase,
  #cssmenu > ul li#delete,
  #cssmenu > ul li#setholiday,
  #cssmenu > ul li#submenu {
    display: none
  }
}
