#wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: sans-serif;
}

#tblwrapper {
	float: left;
	height: 100%;
	width: 100%;
}

#tblcontainer {
	height: 100%;
	width: 100%;
	overflow: auto;
	box-sizing: border-box;
	border: solid 2px silver;
}

table {
	border-right: solid 1px gray;
	border-collapse: collapse;
}

th {
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	background-color: #7799AA;
	color: white;
	border-top: solid 1px silver;
	border-left: solid 1px silver;
	border-bottom: solid 1px silver;
}

td {
	empty-cells: show;
	height: 30px;
	font-size: 14px;
	padding-left: 3px;
	border-left: solid 1px lightgray;
	border-bottom: solid 1px silver;
	background-repeat: no-repeat;
	background-position: right bottom;
}

/* used in Equipment column */
td img {
	height: 32px;
	width: 40px;
}

#queuewrapper {
	float: right;
}

#queuecontainer {
	overflow: auto;
	box-sizing: border-box;
	border-top: solid 2px silver;
	border-right: solid 2px silver;
	border-left: solid 2px snow;
}

#tbl td:first-child,
#tbl td:nth-child(2),
#tbl td:nth-child(3),
#tbl td:nth-child(4),
#tbl td:nth-child(5),
#tbl td:nth-child(6),
#tbl td:nth-child(7),
#tbl td:nth-child(8),
#queuetbl td:first-child,
#queuetbl td:nth-child(4),
#queuetbl td:nth-child(5),
#queuetbl td:nth-child(6),
#queuetbl td:nth-child(7),
#queuetbl td:nth-child(8),
#servicetbl td:nth-child(2),
#servicetbl td:nth-child(8),
#servicetbl td:nth-child(9),
#servicetbl td:nth-child(10),
#deletedtbl td:nth-child(1),
#deletedtbl td:nth-child(2),
#deletedtbl td:nth-child(3),
#deletedtbl td:nth-child(8),
#deletedtbl td:nth-child(9),
#historytbl td:nth-child(1),
#historytbl td:nth-child(2),
#historytbl td:nth-child(3),
#historytbl td:nth-child(4),
#historytbl td:nth-child(11),
#historytbl td:nth-child(12),
#findtbl td,
#alltbl td {
	font-size: 12px;
}

#tbl td:first-child,
#queuetbl td:first-child { min-width: 40px; max-width: 60px; }

#historytbl td:nth-child(2),
#historytbl td:nth-child(3),
#tbl td:nth-child(2),
#tbl td:nth-child(3),
#tbl td:nth-child(4),
#tbl td:nth-child(5) { text-align: center; }

#tbl td:nth-child(2),
#tbl td:nth-child(3),
#tbl td:nth-child(4),
#tbl td:nth-child(5) { min-width: 30px; max-width: 30px; }
#tbl td:nth-child(6) { min-width: 40px; width: 3%; }
#tbl td:nth-child(7) { min-width: 50px; max-width: 50px; }
#tbl td:nth-child(8) { min-width: 70px; width: 10%; }
#tbl td:nth-child(9) { width: 25%; }
#tbl td:nth-child(10) { width: 25%; }
#tbl td:nth-child(11) { width: 20%; }
#tbl td:nth-child(12) { width: 20%; }

#queuetbl td:nth-child(6) { min-width: 40px; max-width: 60px; }
#queuetbl td:nth-child(7) { min-width: 50px; max-width: 50px; }
#queuetbl td:nth-child(8) { min-width: 70px; width: 10%; }
#queuetbl td:nth-child(9) { width: 25%; }
#queuetbl td:nth-child(10) { width: 25%; }
#queuetbl td:nth-child(11) { width: 20%; }
#queuetbl td:nth-child(12) { width: 20%; }

#servicetbl td:nth-child(1) { width: 15px; }
#servicetbl td:nth-child(2) { width: 50px; }
#servicetbl td:nth-child(3) { width: 10%; }
#servicetbl td:nth-child(4) { width: 15%; }
#servicetbl td:nth-child(5) { width: 15%; }
#servicetbl td:nth-child(6) { width: 25%; }
#servicetbl td:nth-child(7) { width: 25%; }
#servicetbl td:nth-child(8) { width: 200px; }
#servicetbl td:nth-child(9) { width: 40px; }
#servicetbl td:nth-child(10) { width: 40px; }
#servicetbl td:nth-child(11) { width: 40px; }

#historytbl td:nth-child(1) { width: 5%; }
#historytbl td:nth-child(2) { width: 10px; }
#historytbl td:nth-child(3) { width: 20px; }
#historytbl td:nth-child(4) { width: 5%; }
#historytbl td:nth-child(5) { width: 10%; }
#historytbl td:nth-child(6) { width: 10%; }
#historytbl td:nth-child(7) { width: 10%; }
#historytbl td:nth-child(8) { width: 15%; }
#historytbl td:nth-child(9) { width: 15%; }
#historytbl td:nth-child(10) { width: 10%; }
#historytbl td:nth-child(11) { width: 30px; }
#historytbl td:nth-child(12) { width: 50px; }

#deletedtbl td:nth-child(1) { width: 5%; }
#deletedtbl td:nth-child(2) { width: 5%; }
#deletedtbl td:nth-child(3) { width: 50px; }
#deletedtbl td:nth-child(4) { width: 10%; }
#deletedtbl td:nth-child(5) { width: 20%; }
#deletedtbl td:nth-child(6) { width: 20%; }
#deletedtbl td:nth-child(7) { width: 20%; }
#deletedtbl td:nth-child(8) { width: 40px; }
#deletedtbl td:nth-child(9) { width: 70px; }

#alltbl td:nth-child(1) { width: 30px; }
#alltbl td:nth-child(2) { width: 50px; }
#alltbl td:nth-child(3) { width: 50px; }
#alltbl td:nth-child(4) { width: 10%; }
#alltbl td:nth-child(5) { width: 12%; }
#alltbl td:nth-child(6) { width: 12%; }
#alltbl td:nth-child(7) { width: 12%; }
#alltbl td:nth-child(8) { width: 12%; }
#alltbl td:nth-child(9) { width: 12%; }
#alltbl td:nth-child(10) { width: 12%; }

#findtbl td:nth-child(1) { width: 30px; }
#findtbl td:nth-child(2) { width: 50px; }
#findtbl td:nth-child(3) { width: 50px; }
#findtbl td:nth-child(4) { width: 10%; }
#findtbl td:nth-child(5) { width: 12%; }
#findtbl td:nth-child(6) { width: 12%; }
#findtbl td:nth-child(7) { width: 12%; }
#findtbl td:nth-child(8) { width: 12%; }
#findtbl td:nth-child(9) { width: 12%; }
#findtbl td:nth-child(10) { width: 12%; }

#wrapper,
#queuewrapper,
#tblcells,
#queuetbl th:nth-child(2), #queuetbl td:nth-child(2),
#queuetbl th:nth-child(3), #queuetbl td:nth-child(3),
#queuetbl th:nth-child(4), #queuetbl td:nth-child(4),
#queuetbl th:nth-child(5), #queuetbl td:nth-child(5),
#tbl th:nth-child(13), #tbl td:nth-child(13),
#queuetbl th:nth-child(13), #queuetbl td:nth-child(13),
#servicetbl th:nth-child(12), #servicetbl td:nth-child(12),
#deletedtbl th:nth-child(10), #deletedtbl td:nth-child(10),
#dialogService, #servicecells,
#monthpicker button.ui-datepicker-current,
#monthpicker .ui-datepicker-calendar,
#monthstart,
.divRecord,
#dialogReview,
#dialogEquip,
#dialogAll, #allcells,
#dialogDeleted, #deletedcells,
#dialogHistory, #historycells,
#dialogFind, #findcells,
#dialogMoveCase,
#movetbl td:nth-child(2),
#movetbl td:nth-child(3),
#movetbl td:nth-child(10),
#dialogInput,
#dialogReadme,
#stafflist,
#editcell,
#undelete,
#txtArea1,
#dialogStaff,
#staffcells,
#dialogHoliday,
#holidaycells,
#holidayInput,
#capture,
#dialogNotify,
.ui-datepicker-year {
	display: none;
}

#dialogInput { font-size: 14px; overflow: hidden; }
#dialogInput span { width:50px }
#dialogInput input[name=others] { width:450px }
#dialogInput img {
	float: right;
	width: 150px;
	border: 1px solid skyblue;
	margin-right: 20px;
}
#dialogInput img:hover {
	border: 2px outset blue;
}

#deleted,
#notdeleted {
	height:30px;
	width:140px;
}

#undelete { 
	width: 125px;
}

#undel { 
	display: inline-block;
	text-align: center; 
	height: 25px;
	width: 100px;
	font-size: 14px;
	color: black;
	background-color: white;
	border: 2px solid slategray;
	line-height: 25px;
}

#reviewtbl tbody tr:nth-child(6) td:first-child { font-weight: normal }
#reviewtbl tbody tr:nth-child(7) th { text-align: left; padding-left: 20px }

tr#movefrom td,
tr#moveto td {
	height: 50px;
	font-size: 16px;
	font-weight: bold;
	vertical-align: bottom;
	padding-bottom: 15px;	
	border-left: 0px;
}

#addholiday,
.delholiday { float: right; }

.leftButton { margin-right: 80px !important; }
.deleted,
.deletedButton,
.moveButton { background-color: pink }
.undeleteButton,
.copyButton { background-color: skyblue }
.nodate { background-color: #EEEEFF }

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* mark the row of fillEquipTable, tracking, find, and pasted row after changeDate */
tr.marker {
	border: solid 3px skyblue !important;
}

@keyframes blink1 { 
   50% { border-color: skyblue; } 
}

tr.changeDate {
	animation: blink1 .5s step-end infinite alternate;
	border: dashed 3px lightblue;
}

@keyframes blink2 { 
   50% { border-color: royalblue; } 
}

/* mark where changeDate will be pasted */
tr.pasteDate {
	animation: blink2 .5s step-end infinite alternate;
	border-bottom: solid 3px skyblue;
}

tr.selected {
	border: solid 2px #0099FF !important;
}

tr.selected td {
	background-color: #d9f0FF;
}

tr.Sunday { background-color: #FFDDEE; }
tr.Monday { background-color: #FFFFE0; }
tr.Tuesday { background-color: #FFF0F9; }
tr.Wednesday { background-color: #EEFFEE; }
tr.Thursday { background-color: #FFF7EE; }
tr.Friday { background-color: #E7F7FF; }
tr.Saturday { background-color: #E7E7FF; }

td.Sun { background-color: #F099BB; }
td.Mon { background-color: #F0F0BB; }
td.Tue { background-color: #F0CCEE; }
td.Wed { background-color: #CCF0CC; }
td.Thu { background-color: #F0DDBB; }
td.Fri { background-color: #BBDDF0; }
td.Sat { background-color: #CCBBF0; }

td.Sun:before { content: "อาทิตย์ "; }
td.Mon:before { content: "จันทร์ "; }
td.Tue:before { content: "อังคาร "; }
td.Wed:before { content: "พุธ "; }
td.Thu:before { content: "พฤหัส "; }
td.Fri:before { content: "ศุกร์ "; }
td.Sat:before { content: "เสาร์ "; }

td.pacs { background-image: url(pic/general/pacs.png); }
td.pacs2 { background-image: url(pic/general/pacs2.png); }
td.camera { background-image: url(pic/general/camera.png); }
td.camera2 { background-image: url(pic/general/camera2.png); }

.Reoperation td:nth-child(5),
.Reoperation { background-color: #CCCCAA !important; }
.Readmission td:nth-child(6),
.Readmission { background-color: #AACCCC !important; } 
.Infection td:nth-child(7),
.Infection { background-color: #CCAAAA !important; }
.Morbidity { background-color: #AAAACC !important; }
.Dead { background-color: #AAAAAA !important; }

.fixed{
	top: 0;
	position: fixed;
	width: auto;
	display: none;
	border: none;
}

.ui-sortable-helper {
	display: table;
}

.ui-dialog {
	position: fixed;
	box-shadow: 10px 20px 30px slategray;
}

.ui-dialog-title {
    font-size: 120%;
	text-align: center; 
}

.ui-icon-closethick {
	float: right;
	margin: 10px 10px 0 0;
}

.iconcontainer {
	float: right;
	height: 30px;
}

.ui-resizable-e { 
	cursor: e-resize; 
	width: 10px; 
	top: 0; 
}

.ui-icon:hover {
	cursor: pointer;
	border: black dotted
}

.ui-icon-circle-close {
	float: right;
	background-color: white;
	height: 15px;
	width: 15px;
}

.ui-dialog-buttonpane {
	font-size: 0px;
}

.ui-dialog-buttonset {
	font-size: 14px;
	margin: 0 30px 0 0;
}

.dialogBox span {
	display:inline-block;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.floatleft { float: left;}
.floatright { float: right; }
.textleft { text-align: left;}
.textright { text-align: right; }
.textcenter { text-align: center; }

.w20 { width:20px !important; }
.w22 { width:22px !important; }
.w30 { width:30px !important; }
.w40 { width:40px !important; }
.w50 { width:50px !important; }
.w55 { width:55px !important; }
.w60 { width:60px !important; }
.w65 { width:65px !important; }
.w70 { width:70px !important; }
.w73 { width:73px !important; }
.w77 { width:77px !important; }
.w80 { width:80px !important; }
.w85 { width:85px !important; }
.w90 { width:90px !important; }
.w100 { width:100px !important; }
.w110 { width:110px !important; }
.w120 { width:120px !important; }
.w140 { width:140px !important; }
.w150 { width:150px !important; }
.w160 { width:160px !important; }
.w170 { width:170px !important; }
.w200 { width:200px !important; }
.w215 { width:215px !important; }
.w350 { width:350px !important; }
.w500 { width:500px !important; }
.w540 { width:540px !important; }

.margin0 { margin: 0px; }
.margintop0 { margin-top: 0px; }
.marginright { margin-right: 100px; }
.red { color:red; }
.Aqua { background-color: #00FFFF; }
.lightAqua { background-color: #AAFFFF; }

#titlebar {
	height: 40px;
	background-color: #7799AA;
}

#titlename {
	font-size: 20px;
	font-weight: bold;
	color: white;
	width: 100px;
	line-height: 35px;
	margin-left: 25px;
}

#queuetbl {
	margin-bottom: 100px;
}

#historytbl tr:nth-child(odd),
#queuetbl tr.odd {
	background-color: #EEEEFF;
}

#deletedtbl tr:nth-child(odd) {
	background-color: #FFF3F9;
}
#deletedtbl tr:nth-child(even) {
	background-color: snow;
}

#servicetbl td:first-child {
	text-align: center;
}

#servicehead {
	width: auto;
	text-align: center;
}

#servicehead span.item {
	display: inline-block; 
	border: solid 1px white;
	width: 170px;
	padding: 2px 10px;
}

#servicetbl td.serviceStaff {
	height: 40px;
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	padding-left: 10px;
	background-color: #DDFFFF;
}

#monthpicker { margin-left:5px }

#editcell { 
	text-align: left; 
	overflow: hidden;
	padding-left: 3px;
	border: solid 1px #0099FF;
	background-color: white;
	box-shadow: 5px 5px 10px slategray;
}

#stafflist {
	font-size: 14px;
	width: 110px;
}

#staffmenu {
	box-shadow: 10px 20px 30px slategray;
}

#postponecase {
	width: 200px;
	white-space: nowrap;
}

#delcase {
	width: 170px;
	white-space: nowrap;
}

#staffmenu { width: 100px; }

#dialogEquip {
	font-size: 14px;
	color: black;
	background-color: white;
}

#oproom,
#casenum,
#optime,
#opdate,
#staffname { font-size: 16px; font-weight: bold; }

#dialogEquip input[type=radio] + label,
#dialogEquip input[type=checkbox] + label {
	color: #999999;
}
#dialogEquip input[type=radio]:checked + label,
#dialogEquip input[type=checkbox]:checked + label {
	color: black;
	font-weight: bold;
}
#dialogEquip input[type=text] {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px dashed gray;
	color: blue;
	font-weight: bold;
}
#dialogEquip textarea {
	width: 500px;
	height: 55px;
	padding: 2px;
	color: blue;
	font-weight: bold;
}

#dialogNotify textarea {
	height: 190px;
	padding: 7px;
	font-size: 14px;
}
#buttonLINE {
	width: 50px;
	height: 50px;
	background-image: url(pic/general/message.png);
	background-size: 50px;
	border: 1px solid lightblue;
}
#buttonLINE:hover {
	border: 2px solid lightblue;
}

.divRecord {
	width: 200px;
}

.divRecord label {
  display: inline-block;
}

.divRecord input {
  height: 17px;
  border-radius: 5px;
  border: 1px solid #19adc4;
  background-color: white;
  -webkit-appearance: none; /*to disable the default appearance of radio button*/
  -moz-appearance: none;
}

.divRecord input:focus { /*no need, if you don't disable default appearance*/
  outline-color: transparent; /*to remove the square border on focus*/
}

.divRecord input:checked { /*no need, if you don't disable default appearance*/
  background-color: #19adc4;
}

.divRecord input:checked ~ span {
  color: white;
}

.divRecord label span {
  position: relative;
  font-size: 11px;
  color: #19adc4;
  top: -4.5px;
  width: 0px;
}

.divRecord label input[type="checkbox"] + span {
  top: -8px;
}

.divRecord hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #B4E4EC;
  margin: 3px 10px 0px 5px;
}

#reviewtbl {
	font-weight: bold;
}

#reviewtbl th.first {
	width: 150px;
}

#reviewtbl td {
	width: 40px;
	text-align: center;
}

#reviewtbl td:first-child {
	text-align: left;
}

#reviewtbl th.elect {
	background-color: #33AA77;
}

#reviewtbl th.emer {
	background-color: #FF6688;
}

.nonsurgical td {
	background-color: LightGray;
	border-left: solid 1px silver;
}

#Total {
	background-color: BurlyWood;
}

#Grand {
	background-color: Turquoise;
}

#dialogReadme {
	line-height: 150%;
	font-size: 14px;
	color: black;
	background-color: white;
}

#dialogReadme h3 {
	padding: 0px;
	margin: 0px;
	background-color: yellow;
}

#spin {
	height: 20px;
	width: 35px;
	font-size: 14px;
	margin: 0px;
}

@media (max-width: 600px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, tr, th, td { 
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	th { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	tr { border: 1px solid #ccc; }

	#tbl td:first-child,
	#tbl td:nth-child(2),
	#tbl td:nth-child(3),
	#tbl td:nth-child(4),
	#tbl td:nth-child(5),
	#tbl td:nth-child(6),
	#tbl td:nth-child(7),
	#tbl td:nth-child(8),
	#tbl td:nth-child(9),
	#tbl td:nth-child(10),
	#tbl td:nth-child(11),
	#tbl td:nth-child(12) { width: auto; }

	td { 
		/* Behave  like a "row" */
		height: auto;
		min-height: 30px;
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 40%; 
		white-space: normal;
		text-align: left;
		empty-cells: show;
	}

	td:first-child {
		font-size: 16px;
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 7px;
		left: 7px;
		width: 35%; 
		white-space: nowrap;
		text-align: left;
		font-weight: bold;
	/*
	Label the data
	*/
		content: attr(data-title);
	}

	td.Sun:before { font-size: 18px; top: 2px; content: "วันอาทิตย์ "; }
	td.Mon:before { font-size: 18px; top: 2px; content: "วันจันทร์ "; }
	td.Tue:before { font-size: 18px; top: 2px; content: "วันอังคาร "; }
	td.Wed:before { font-size: 18px; top: 2px; content: "วันพุธ "; }
	td.Thu:before { font-size: 18px; top: 2px; content: "วันพฤหัส "; }
	td.Fri:before { font-size: 18px; top: 2px; content: "วันศุกร์ "; }
	td.Sat:before { font-size: 18px; top: 2px; content: "วันเสาร์ "; }

	#stafflist {
		position: relative;
		font-size: 14px;
	}
}

@media print { 
	BODY {
		overflow: visible;
	}

	#dialogEquip {
		font-size: 16px;
		font-family: sans-serif;
		background-color: white;
		border: 0px;
		margin-top: 50px;
		margin-left: 50px;
		padding-left: 0px;
	}

	.pale {
		color: #D3D3D3;
		font-weight: 300;
	}

	input, input[type=checkbox] { 
		border: 0px; 
	}

	input[type=radio] + label {
		color: #FFFFFF;
		background-color: white;
	}

	input[type=radio]:checked + label {
		color: #000000;
		border: 2px; 
	}

	input[type=checkbox] + label {
		color: #FFFFFF;
		background-color: white;
	}

	input[type=checkbox]:checked + label {
		color: #000000;
		border: 2px black; 
	}

	div, span { 
		display:inline-block; 
	} 
}
