/* to let table scrollable while dragging */
html, body {
    height: 100%;
    overflow: hidden;
    margin: 0px;
}

#wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

#mainwrapper {
  float: left;
  height: 100%;
  width: 100%;
}

#maincontainer {
  height: 95%;
  width: 100%;
  overflow: scroll;
  box-sizing: border-box;
  border: solid 2px silver;
}

table {
  border-right: solid 1px gray;
  border-collapse: collapse;
}

th {
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  background-color: #7799AA;
  color: white;
  border-top: solid 1px silver;
  border-left: solid 1px silver;
  border-bottom: solid 1px silver;
}

td {
  empty-cells: show;
  height: 30px;
  font-size: 14px;
  padding-left: 3px;
  border-left: solid 1px lightgray;
  border-bottom: solid 1px silver;
  background-repeat: no-repeat;
  background-position: right bottom;
}

/* used in Equipment column */
td img {
  height: 23px;
  width: 25px;
}
td img.imgpale {
  filter: opacity(30%);
}

#capture td img {
  height: 40px;
  width: 45px;
  margin: 0px 3px 0px 3px;
}
#capture th,
#capture td {
  font-size: 22px;
  height: auto;
  white-space: nowrap;
  border: solid 1px gray;
}
#capture th:nth-child(1) { width: 3%; }
#capture th:nth-child(2) { width: 0%; }
#capture th:nth-child(3) { width: 3%; font-size: 12px; }
#capture th:nth-child(4) { width: 0%; }
#capture th:nth-child(5) { width: 0%; }
#capture th:nth-child(6) { width: 5%; }
#capture th:nth-child(7) { width: 9%; }
#capture th:nth-child(8) { width: 10%; }
#capture th:nth-child(9) { width: 20%; }
#capture th:nth-child(10) { width: 20%; }
#capture th:nth-child(11) { width: 30%; }
#capture th:nth-child(12) { width: 0%; }

td.consult:nth-child(8)::after { 
  color: #999999;
  font-size: 12px;
  content: 'สัปดาห์ Consult\A'attr(data-consult);
  white-space: pre;
}

#queuewrapper {
  float: right;
}

#queuecontainer {
  overflow: auto;
  box-sizing: border-box;
  border-top: solid 2px silver;
  border-right: solid 2px silver;
  border-left: solid 2px snow;
}

#maintbl.showColumn2 th:nth-child(2),
#maintbl.showColumn2 td:nth-child(2) { width: 30px; font-size: xx-small; }
#maintbl th:nth-child(2),
#maintbl td:nth-child(2) { width: 0px; font-size: 0px; }

#maintbl th:nth-child(3),
#maintbl th:nth-child(4),
#maintbl td:nth-child(4),
#maintbl th:nth-child(5),
#queuetbl th:nth-child(3),
#queuetbl th:nth-child(4),
#queuetbl th:nth-child(5),
#queuetbl td:nth-child(3),
#queuetbl td:nth-child(4),
#queuetbl td:nth-child(5) {
  font-size: xx-small;
  padding: 0px;
}

#queuetbl tr.nodate td:first-child::before {
  font-size: 14px;
  content: attr(data-number);
}

#maintbl td:nth-child(3),
#maintbl td:nth-child(5) { font-size: 14px; padding: 0px; }
#maintbl td:first-child,
#maintbl td:nth-child(6),
#maintbl td:nth-child(7),
#maintbl td:nth-child(8),
#queuetbl td:first-child,
#queuetbl td:nth-child(6),
#queuetbl td:nth-child(7),
#queuetbl td:nth-child(8),
#servicetbl td:nth-child(2),
#servicetbl td:nth-child(9),
#servicetbl td:nth-child(10),
#servicetbl td:nth-child(11),
#deletedtbl td:nth-child(1),
#deletedtbl td:nth-child(2),
#deletedtbl td:nth-child(3),
#deletedtbl td:nth-child(8),
#deletedtbl td:nth-child(9),
#historytbl td:nth-child(1),
#historytbl td:nth-child(2),
#historytbl td:nth-child(3),
#historytbl td:nth-child(4),
#historytbl td:nth-child(11),
#historytbl td:nth-child(12),
#findtbl td,
#alltbl td {
  font-size: 12px;
}

#maintbl td:nth-child(2),
#maintbl td:nth-child(3),
#maintbl td:nth-child(4),
#maintbl td:nth-child(5),
#servicetbl td:first-child,
#historytbl td:nth-child(2),
#historytbl td:nth-child(3) {
  text-align: center;
}

#maintbl td:first-child { min-width: 40px; max-width: 60px; }
#maintbl td:nth-child(3) { min-width: 15px; max-width: 20px; }
#maintbl td:nth-child(4) { min-width: 25px; max-width: 30px; }
#maintbl td:nth-child(5) { min-width: 15px; max-width: 20px; }
#maintbl td:nth-child(6) { min-width: 40px; max-width: 60px; }
#maintbl td:nth-child(7) { min-width: 50px; max-width: 70px; }
#maintbl td:nth-child(8) { min-width: 70px; width: 10%; }
#maintbl td:nth-child(9) { min-width: 200px; width: 15%; }
#maintbl td:nth-child(10) { min-width: 200px; width: 15%; }
#maintbl td:nth-child(11) { min-width: 200px; width: 20%; }
#maintbl td:nth-child(12) { min-width: 100px; width: 15%; }

#queuetbl td:first-child { min-width: 40px; max-width: 60px; }
#queuetbl td:nth-child(7) { min-width: 50px; max-width: 70px; }
#queuetbl td:nth-child(8) { min-width: 70px; width: 10%; }
#queuetbl td:nth-child(9) { min-width: 200px; width: 20%; }
#queuetbl td:nth-child(10) { min-width: 200px; width: 20%; }
#queuetbl td:nth-child(11) { min-width: 100px; width: 20%; }
#queuetbl td:nth-child(12) { min-width: 100px; width: 20%; }

#queuetbl {
  margin-bottom: 100px;
}

#titlebar {
  height: 40px;
  background-color: #7799AA;
}

#titlename {
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 100px;
  line-height: 35px;
  margin-left: 25px;
}

#servicetbl th:nth-child(1) { width: 15px; }
#servicetbl th:nth-child(2) { width: 50px; }
#servicetbl th:nth-child(3) { width: 10%; }
#servicetbl th:nth-child(4) { width: 15%; }
#servicetbl th:nth-child(5) { width: 15%; }
#servicetbl th:nth-child(6) { width: 20%; }
#servicetbl th:nth-child(7) { width: 20%; }
#servicetbl th:nth-child(8),
#dialogService .fixed th:nth-child(8) { width: 5%; }
#servicetbl th:nth-child(9) { width: 40px; }
#servicetbl th:nth-child(10) { width: 40px; }
#servicetbl th:nth-child(11) { width: 40px; }

#servicetbl td.serviceStaff {
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  padding-left: 10px;
  background-color: #DDFFFF;
}

#historytbl th:nth-child(1) { width: 5%; }
#historytbl th:nth-child(2) { width: 10px; }
#historytbl th:nth-child(3) { width: 20px; }
#historytbl th:nth-child(4) { width: 5%; }
#historytbl th:nth-child(5) { width: 10%; }
#historytbl th:nth-child(6) { width: 10%; }
#historytbl th:nth-child(7) { width: 15%; }
#historytbl th:nth-child(8) { width: 15%; }
#historytbl th:nth-child(9) { width: 10%; }
#historytbl th:nth-child(10) { width: 10%; }
#historytbl th:nth-child(11) { width: 30px; }
#historytbl th:nth-child(12) { min-width:50px; width: 50px; max-width:50px }

#deletedtbl th:nth-child(1) { width: 5%; }
#deletedtbl th:nth-child(2) { width: 5%; }
#deletedtbl th:nth-child(3) { width: 50px; }
#deletedtbl th:nth-child(4) { width: 10%; }
#deletedtbl th:nth-child(5) { width: 20%; }
#deletedtbl th:nth-child(6) { width: 20%; }
#deletedtbl th:nth-child(7) { width: 20%; }
#deletedtbl th:nth-child(8) { width: 40px; }
#deletedtbl td:nth-child(9) { width: 70px; }

#alltbl td:nth-child(1) { width: 30px; }
#alltbl td:nth-child(2) { width: 50px; }
#alltbl td:nth-child(3) { width: 50px; }
#alltbl td:nth-child(4) { width: 10%; }
#alltbl td:nth-child(5) { width: 12%; }
#alltbl td:nth-child(6) { width: 12%; }
#alltbl td:nth-child(7) { width: 12%; }
#alltbl td:nth-child(8) { width: 12%; }
#alltbl td:nth-child(9) { width: 12%; }
#alltbl td:nth-child(10) { width: 12%; }

#findtbl td:nth-child(1) { width: 30px; }
#findtbl td:nth-child(2) { width: 50px; }
#findtbl td:nth-child(3) { width: 50px; }
#findtbl td:nth-child(4) { width: 10%; }
#findtbl td:nth-child(5) { width: 12%; }
#findtbl td:nth-child(6) { width: 12%; }
#findtbl td:nth-child(7) { width: 12%; }
#findtbl td:nth-child(8) { width: 12%; }
#findtbl td:nth-child(9) { width: 12%; }
#findtbl td:nth-child(10) { width: 12%; }

#wrapper,
#tblcells,
#queuetbl th:nth-child(2), #queuetbl td:nth-child(2),
#queuetbl th:nth-child(3), #queuetbl td:nth-child(3),
#queuetbl th:nth-child(4), #queuetbl td:nth-child(4),
#queuetbl th:nth-child(5), #queuetbl td:nth-child(5),
#dialogService, #servicecells,
#monthpicker button.ui-datepicker-current,
#monthpicker .ui-datepicker-calendar,
#monthstart,
#dialogReview,
#dialogEquip,
#dialogAll, #allcells,
#dialogAllDeleted, #deletedcells,
#dialogHistory, #historycells,
#dialogFind, #findcells,
#dialogMoveCaseHN,
#dialogInput,
#dialogReadme,
#stafflist,
#editcell,
#undelete,
#dialogStaff,
#scbb option:first-of-type,
#staffcells,
#dialogHoliday,
#holidaycells,
#holidayInput,
#capture,
#dialogNotify,
.ui-datepicker-year {
  display: none;
}

#dialogInput { font-size: 14px; overflow: hidden; }
#dialogInput span { width:50px }
#dialogInput input[name=others] { width:450px }
#dialogInput img {
  float: right;
  width: 150px;
  border: 1px solid skyblue;
  margin-right: 20px;
}
#dialogInput img:hover {
  border: 2px outset blue;
}

#deleted,
#notdeleted {
  height:30px;
  width:140px;
}

#undelete { 
  width: 127px;
}

#undel { 
  display: inline-block;
  text-align: center; 
  height: 25px;
  width: 100px;
  font-size: 14px;
  color: black;
  background-color: white;
  border: 2px solid slategray;
  line-height: 25px;
}

#reviewtbl tbody tr:nth-child(6) td:first-child { font-weight: normal }
#reviewtbl tbody tr:nth-child(7) th { text-align: left; padding-left: 20px }

tr#movefrom td,
tr#moveto td {
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  vertical-align: bottom;
  padding-bottom: 15px;  
  border-left: 0px;
}

.leftButton { margin-right: 80px !important; }
.deleted,
.deletedButton,
.moveButton { background-color: pink }
.undeleteButton,
.copyButton { background-color: skyblue }
.nodate { background-color: #EEEEFF }

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* mark the row of fillEquipTable, tracking, find, and pasted row after moveCase */
tr.marker {
  border: solid 3px skyblue !important;
}

@keyframes blink1 { 
   10% { background-color: pink; } 
}

tr.moveCase {
  animation: blink1 1s step-end infinite alternate;
}

@keyframes blink2 { 
   10% { background-color: skyblue; } 
}

tr.copyCase {
  animation: blink2 1s step-end infinite alternate;
}

@keyframes blink3 { 
   10% { border-color: royalblue; } 
}

/* mark where move/copy case will be pasted */
tr.pasteDate {
  animation: blink3 1s step-end infinite alternate;
  border-bottom: solid 3px skyblue;
}

tr.selected {
  border: solid 2px #0099FF !important;
}

tr.selected td {
  background-color: #d9f0FF;
}

tr.Sunday { background-color: #FFDDEE; }
tr.Monday { background-color: #FFFFE0; }
tr.Tuesday { background-color: #FFF0F9; }
tr.Wednesday { background-color: #EEFFEE; }
tr.Thursday { background-color: #FFF7EE; }
tr.Friday { background-color: #E7F7FF; }
tr.Saturday { background-color: #E7E7FF; }

tr.Sunday td:first-child { background-color: #F099BB; }
tr.Monday td:first-child { background-color: #F0F0BB; }
tr.Tuesday td:first-child { background-color: #F0CCEE; }
tr.Wednesday td:first-child { background-color: #CCF0CC; }
tr.Thursday td:first-child { background-color: #F0DDBB; }
tr.Friday td:first-child { background-color: #BBDDF0; }
tr.Saturday td:first-child { background-color: #CCBBF0; }

tr.Sunday td:first-child::before { content: "อาทิตย์ "; }
tr.Monday td:first-child::before { content: "จันทร์ "; }
tr.Tuesday td:first-child::before { content: "อังคาร "; }
tr.Wednesday td:first-child::before { content: "พุธ "; }
tr.Thursday td:first-child::before { content: "พฤหัส "; }
tr.Friday td:first-child::before { content: "ศุกร์ "; }
tr.Saturday td:first-child::before { content: "เสาร์ "; }

td.pacs { background-image: url(pic/general/pacs.png); }
td.pacs2 { background-image: url(pic/general/pacs2.png); }

.Reoperation, .Reoperation td:nth-child(5) { background-color: #CCCCAA !important; }
.Readmission, .Readmission td:nth-child(6) { background-color: #AACCCC !important; } 
.Infection, .Infection td:nth-child(7) { background-color: #CCAAAA !important; }
.Morbidity { background-color: #AAAACC !important; }
.Dead { background-color: #AAAAAA !important; }

.ui-sortable-helper {
  display: table;
}

.ui-dialog {
  position: fixed;
  box-shadow: 10px 20px 30px slategray;
}

.ui-dialog-title {
  font-size: 120%;
  text-align: center; 
}

.ui-icon-closethick {
  float: right;
  top: 15px;
  right:10px;
}

.iconcontainer {
  float: right;
  height: 30px;
}

.ui-resizable-e { 
  cursor: e-resize; 
  width: 10px; 
  top: 0; 
}

.ui-icon:hover {
  cursor: pointer;
  border: black dotted
}

.ui-icon-circle-close {
  float: right;
  background-color: white;
  height: 15px;
  width: 15px;
}

.ui-dialog-buttonpane {
  font-size: 0px;
}

.ui-dialog-buttonset {
  font-size: 14px;
  margin: 0 30px 0 0;
}

.dialogBox span {
  display:inline-block;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.fixed{
  position: fixed;
  width: auto;
  display: none;
  border: none;
}

.floatleft { float: left;}
.floatright { float: right; }
.textleft { text-align: left;}
.textright { text-align: right; }
.textcenter { text-align: center; }
.inline { display: inline-block; }

.w10 { width:10px !important; }
.w20 { width:20px !important; }
.w30 { width:30px !important; }
.w40 { width:40px !important; }
.w50 { width:50px !important; }
.w55 { width:55px !important; }
.w60 { width:60px !important; }
.w65 { width:65px !important; }
.w70 { width:70px !important; }
.w75 { width:75px !important; }
.w80 { width:80px !important; }
.w85 { width:85px !important; }
.w90 { width:90px !important; }
.w100 { width:100px !important; }
.w110 { width:110px !important; }
.w120 { width:120px !important; }
.w130 { width:130px !important; }
.w150 { width:150px !important; }
.w170 { width:170px !important; }
.w200 { width:200px !important; }
.w350 { width:350px !important; }
.w400 { width:400px !important; }
.w500 { width:500px !important; }

.monthbut { color:white !important; background-color: #00AAFF !important; }
.yearbut { color:white !important; background-color: #0077BB !important; }

#historytbl tr:nth-child(odd) {
  background-color: #EEEEFF;
}

#deletedtbl tr:nth-child(odd) {
  background-color: #FFF3F9;
}
#deletedtbl tr:nth-child(even) {
  background-color: snow;
}

#servicehead {
  width: auto;
  text-align: center;
}

#servicehead span.item {
  display: inline-block; 
  border: solid 1px white;
  width: 170px;
  padding: 2px 10px;
}

#monthpicker { margin-left:5px }

#editcell { 
  text-align: left; 
  overflow: hidden;
  padding-left: 3px;
  border: solid 1px #0099FF;
  background-color: white;
  box-shadow: 5px 5px 10px slategray;
}

#stafflist {
  font-size: 14px;
  width: 110px;
}

#staffmenu {
  width: 100px;
  box-shadow: 10px 20px 30px slategray;
}

#postponecase {
  width: 200px;
  white-space: nowrap;
}

#delcase {
  width: 170px;
  white-space: nowrap;
}

#reviewtbl {
  font-weight: bold;
}

#reviewtbl th.first {
  width: 150px;
}

#reviewtbl td {
  width: 40px;
  text-align: center;
}

#reviewtbl td:first-child {
  text-align: left;
}

#reviewtbl th.elect {
  background-color: #33AA77;
}

#reviewtbl th.emer {
  background-color: #FF6688;
}

#reviewtbl tr.nonsurgical td {
  background-color: LightGray;
  border-left: solid 1px silver;
}

#Total {
  background-color: BurlyWood;
}

#Grand {
  background-color: Turquoise;
}

#oproomequip,
#casenumequip,
#optimeequip,
#opdayequip,
#opdateequip,
#staffnameequip,
#hnequip,
#patientnameequip,
#ageequip { font-size: 16px; font-weight: bold; }

#dialogEquip {
  font-size: 14px;
}

#dialogEquip input[type=radio] + span,
#dialogEquip input[type=checkbox] + span {
  color: #999999;
}
#dialogEquip input[type=radio]:checked + span,
#dialogEquip input[type=checkbox]:checked + span {
  color: black;
  font-weight: bold;
}
#dialogEquip input[type=text] {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px dashed gray;
  color: blue;
  font-weight: bold;
}
#dialogEquip textarea {
  height: 55px;
  padding: 2px;
  color: blue;
  font-weight: bold;
}
#editedby {
  position: absolute;
}

#dialogRecord label {
  display: inline-block;
}

#dialogRecord label.border {
  position: relative;
  height: 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #19adc4;
  padding-left: 4px;
  margin-left: 4px;
}

/* -webkit: to disable the default appearance of radio button*/
#dialogRecord input {
  height: 20px;
  border-radius: 5px;
  border: 1px solid #19adc4;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/*no need, if you don't disable default appearance*/
/*to remove the square border on focus*/
#dialogRecord input:focus {
  outline-color: transparent;
}

/*no need, if you don't disable default appearance*/
#dialogRecord input:checked {
  background-color: #19adc4;
}

#dialogRecord input:checked ~ span {
  color: white;
}

#dialogRecord input[type="number"] {
  height: 15px;
  font-size: 14px;
  position: relative;
  top: -5px;
  left: 70px;
  border: none;
}

#dialogRecord input[type="button"] {
  height: 15px;
  font-size: 14px;
  position: relative;
  top: -5px;
  left: 15px;
  border: none;
}

#dialogRecord label span {
  display: inline-block;
  position: relative;
  font-size: 14px;
  top: -5px;
  width: 0px;
}

#dialogRecord label.border span {
  top: 1px;
  left: 3px;
}

#dialogRecord label input[type="checkbox"] + span {
  top: -8px;
}

#dialogRecord hr {
  height: 1px;
  color: green;
  border: 0;
  border-top: 1px solid #B4E4EC;
  margin: 3px 10px 5px 5px;
}

#dialogHoliday table td {
  padding: 0 10px;
}

#dialogNotify textarea {
  height: 190px;
  padding: 7px;
  font-size: 14px;
}
#buttonLINE {
  float: right;
  width: 35px;
  height: 35px;
  background-image: url(pic/general/message.png);
  background-size: 35px;
  border: 1px solid lightblue;
}
#buttonLINE:hover {
  border: 2px solid Dodgerblue;
}

#spin {
  height: 20px;
  width: 35px;
  font-size: 14px;
  margin: 0px;
}

.loader {
  display: none;
  position: absolute;
  top:5%;
  left: 50%;
  border: 5px solid #a3e3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
