@media print { 
	BODY {
		overflow: visible;
	}

	#dialogEquip {
		font-size: 16px;
		font-family: sans-serif;
		background-color: white;
		border: 0px;
		margin-top: 0px;
		margin-left: 0px;
		padding-left: 0px;
	}

	.pale {
		color: #000000;
		color: rgba(0, 0, 0, .5);
		font-weight: 300;
	}

	input, input[type=checkbox] { 
		border: 0px; 
	}

	input[type=radio] + label {
		color: #FFFFFF;
		background-color: white;
	}

	input[type=radio]:checked + label {
		color: #000000;
		border: 2px; 
	}

	input[type=checkbox] + label {
		color: #FFFFFF;
		background-color: white;
	}

	input[type=checkbox]:checked + label {
		color: #000000;
		border: 2px black; 
	}

	div, span { 
		display:inline-block; 
	} 

	.floatleft { float: left;}
	.floatright { float: right; }
	.textleft { text-align: left;}
	.textright { text-align: right; }
	.textcenter { text-align: center; }
	.w20 { width:20px; }
	.w22 { width:22px; }
	.w30 { width:30px; }
	.w40 { width:40px; }
	.w50 { width:50px; }
	.w55 { width:55px; }
	.w65 { width:65px; }
	.w70 { width:70px; }
	.w73 { width:73px; }
	.w80 { width:80px; }
	.w85 { width:85px; }
	.w90 { width:90px; }
	.w100 { width:100px; }
	.w110 { width:110px; }
	.w120 { width:120px; }
	.w140 { width:140px; }
	.w150 { width:150px; }
	.w200 { width:200px; }
	.w215 { width:215px; }
	.w350 { width:350px; }
	.w500 { width:500px; }
	.w540 { width:540px; }
	.margin0 { margin: 0px; }
	.margintop0 { margin-top: 0px; }
	.marginright { margin-right: 100px; }
	.red { color:red; }
	.Aqua { background-color: #00FFFF; }
	.lightAqua { background-color: #AAFFFF; }
}
